<h1>Hi <%= @options.dig(:user, :name) || @options.dig(:user, :email) %>,</h1>

<p>Your password has been reset. <strong>If you didn't request your password to be reset please <a href="mailto:<%= support_email_address %>">contact our support team</a> as soon as possible!</strong></p>

<p>Thanks,
  <br>The <%= product_name %> Team</p>
